/* removing all default styling */
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    letter-spacing: 2px;
}
/* navbar */
nav{
    background-color: blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    
}
/* styling the logo */
.logo{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
/* styling the nav links container */
nav .nav_container{
    list-style: none;
    display: flex;
}
/* making the subnav container relative list links*/
nav .nav_container li {
    position: relative;
}
/* styling the nav links*/
nav .nav_container li a{
    display: inline-block;
    padding: 24px;
    color: white;
    text-decoration: none;
}
nav .nav_container li a:hover{
    opacity: 0.7;
}
/*styling the subnav container and making it absolutely relative to the list links*/
nav .nav_container ul{
    position: absolute;
    background-color: blue;
    opacity: 0;
    transition: 1s ease-in-out;
    display: flex;
    flex-direction: column;
}
/* making the subnav display after it non appearance */
nav .nav_container li:hover ul{
    opacity: 1;
}
/* allowing the list links to take over the nav links container inorder to have a full width hover effect*/
nav .nav_container li ul li{
    width: 100%;
    height: 100%;
}
/* a full width hover effect */
nav .nav_container li ul li:hover{
    background-color: lightgray;
}
/* styling opening toggle bar */
.togglebar div{
    width: 16px;
    height:2px;
    background-color: red;
    margin:3px;
    display:none;
}
/* making the input element to have non appearance*/
#toggle{
    display:none;
}
/* styling the main content*/
.flex_container{
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    }
    /* styling the image */
    img{
        width:215px;
        height: 215px;
        transition: 1s ease-in-out;
    }
    img:hover{
        opacity:0.5;
        transform: scale(1.1);
    }
    /* styling the footer for the desktop view */
footer{
    background-color: blue;
    position: relative;
    bottom:0px;
    width: 100%;
}
footer .social_media {
    display: flex;
    justify-content: center;
    
}
footer .social_media i {
    padding:25px;
    color:white;
}
footer .social_media i:hover{
    opacity:0.7;
}
footer .footer_links {
    display: flex;
    justify-content: center;
    list-style: none;
}
footer .footer_links li a {
    display:inline-block;
    padding: 25px;
    text-decoration: none;
    color:black;
    
}
footer .footer_links li a:hover {
    opacity:0.7;
}
footer .copyright{
    display:flex;
    justify-content:center;
}
footer .copyright{
    display:flex;
    justify-content:center;
    padding: 25px;
    color:black;
} 
footer .copyright:hover{
    display:flex;
    justify-content:center;
    padding: 15px;
    opacity: 0.7;
} 
@media  screen and (max-width:700px)  {
    /* displaying opening togglebar inside moblie view */
    .togglebar div{
        display: block;
        background-color: black;
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .logo, .togglebar{
        margin: 0px 15px;
    }
    /* styling the nav links container for the mobile view */
    nav .nav_container{
        position: absolute;
        top:10vh;
        left:-100%;
        display:flex;
        flex-direction: column;
        background-color: blue;
        transition: 1s ease-in-out;
        width:35vh;
        text-align: center;
    
}
/* making the subnav to flow in it normal states and giving it a non appearance effect*/
nav .nav_container ul{
    position: relative;
    top:0px;
    display:none;
}
/* displaying subnav */
nav .nav_container li:hover > ul{
    display:block;
}
nav .nav_container li{
    width: 100%;
    height: 100%;
}
nav .nav_container li:hover{
    background-color: lightgray;
}
/* displaying the nav links container from it non appearance */
#toggle:checked ~ ul{
    left:0;

}
 /* stlying the closing togglebar */
 #toggle:checked + .togglebar div:nth-child(1){
    transform: rotate(130deg);
    position: absolute;
}
#toggle:checked + .togglebar div:nth-child(2){
    transform: rotate(49deg);
}
#toggle:checked + .togglebar div:nth-child(3){
    display:none;
}
/* styling the main container */
.flex_container{
    display:flex;
    flex-direction:column;

}
/* styling the footer */
footer{
    background-color:blue;
    width:100%;
    min-height: 200px;
    position: fixed;
}
footer .social_media {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
footer .social_media i{
    color:white;
    padding: 15px;
    opacity: 0.5;
}
footer .social_media i:hover{
    opacity:1;
}
footer .footer_links{
    display:flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}
footer .footer_links li a{
    padding: 15px;
    color:white;
    text-decoration: none;
}
footer .footer_links li a:hover{
    color:black;    
}
footer .copyright{
    display: flex;
    justify-content: center;
    margin: 15px;
    color:white;
    flex-wrap: wrap;
}
footer .copyright:hover{
    color:black;
}

}