* {
    padding: 0px;
    margin: 0px;
}
.navbar {
   background-color: lightgrey;
   display: flex; 
   justify-content: space-around;
   align-items: center;
   min-height: 80px;
}
.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 200px;

}
.navbar a {
    text-transform: uppercase;

}
.navbar a:hover {
    background-color: royalblue;
    color: white;
} 

 img {
    width: 60px;
    height: 60px;
    

}
li a {
    color: red;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    padding: 10px;

}
.navbar ul li {
    position: relative;

}
.navbar ul ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    position: absolute;
    left: 0px;

}
ul ul li a {
    display: inline-block;
    margin-right: 85px;
    margin-top: 8px;

}
.navbar ul ul {
    display:none;
}
.navbar ul li:hover > ul {
    display: block;
}

  @media screen and (max-width: 480px) {
      .navbar {
          display: none;
      }
  }